html, body {
	margin: 0;
	background-color: rgb(249, 240, 249);
}

body {
	position: relative;
	min-height: calc(100vh - 105px);
	padding-bottom: 105px;
}

header, footer {
	background-color: rgb(243, 234, 241);
	display: flex;
	align-items: center;
	height: 105px;
}

img, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: rgb(0,0,0);
}

h4 {
	margin: 0;
}