

.cart {
	width: 90%;
	margin: 5%;
	background-color: white;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	&__title {
		margin: 5%;
		font-size: 2.7em;
	}
	&__preview {
		width: 95%;
		margin: 2.5%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&--img {
			width: 10%;
			height: 10%;
			margin-right: 3%;
		}
		&--data {
			width: 33%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: left;
			margin-right: 7%;
			font-size: 2em;
		}
		&--data h4 {
			font-size: 1em;
		}
		&--data p {
			font-size: .7em;
		}
		&--delete {
			border: none;
			background-color: white;
		}
		&--delete i {
			background-color: rgb(187, 188, 198);
			color: red;
			font-size: 2.5em;
			border-radius: 50% 50%;
			box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
			padding: 40%;
		}
	}
}

.dampedCart {
	font-size: 1.5em;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	&__customer {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: stretch;
	}
	&__field {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 1%;
		&--valid {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&--valid input {
			width: 25%;
		}
		&--valid label {
			overflow-wrap: break-word;
			font-size: 1em;
		}
	}
	&__field input {
		width: 75%;
	}

}

.form h3 {
	margin-bottom: 1%;
}

.emptyCart {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 5%;
	&--button {
		width: 15%;
		font-size: 1.2em;
		border-radius: 5px;
		background: #a9ff4d;
		border: none;
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	}
}

.submit {
	min-height: 25px; 
	border-radius: 5px;
	background: #a9ff4d;
	border: none;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	font-size: 0.8em;
	margin-top: 1%;
	margin-bottom: 5%;
}